<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular HTTP Request Demo</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
  </head>

  <body ng-app="uploadModule" ng-controller="uploadCtrl">

    <input type="file" fileread="myFile" ng-click="getAmazonURL()"/>

    {{myFile}}
    <button class="btn btn-success" ng-click="postFileToS3()">Upload to S3</button>

    <div ng-controller="uploadCtrl">
      <button ng-click="play()" class="button" ng-show="!playing">Play</button>
      <button ng-click="stop()" class="button alert" ng-show="playing">Stop</button>
      Playing audio: <b>{{ playing }}</b>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/app.js"></script>

  </body>
</html>
